

#Rectangle_1 {
  background-image: url("Rectangle1.png");
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 2148px;
  height: 55%;
  z-index: 800;
  min-width:2148px;
  min-height: 55%;
}

h1 {
  font-size: 59.2px;
  font-family: 'Raleway', sans-serif;
  color: rgb(80, 132, 201);
  line-height: 0.487;
  letter-spacing: 3px;
  text-align: left;
  -moz-transform: scale(1, 1.17);
  -webkit-transform: scale(1, 1.17);
  -ms-transform: scale(1, 1.17);
  position: absolute;
  left: 775.768px;
  top: 126.76px;
  z-index: 850;
}
