

#Rectangle_1 {
  background-image: url("Rectangle1.png");
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 1519px;
  height: 55%;
  z-index: 800;
  min-height: 55%;
  min-width: 100%
}

h1 {
  font-size: 59.2px;
  font-family: 'Raleway', sans-serif;
  color: rgb(80, 132, 201);
  line-height: 0.487;
  font-weight: 300;
  text-align: left;
  -moz-transform: scale(1, 1.17);
  -webkit-transform: scale(1, 1.17);
  -ms-transform: scale(1, 1.17);
  position: absolute;
  left: 775.768px;
  top: 126.76px;
  z-index: 850;

}

h2 {

  font-size: 36px;
  font-family: "Poiret One";
  color: rgb(80, 132, 201);
  line-height: 1;
  text-align: left;
  -moz-transform: scale(1, 1.17);
  -webkit-transform: scale(1, 1.17);
  -ms-transform: scale(1, 1.17);
  position: absolute;
  left: 308.139px;
  top: 400px;
  z-index: 900;

}

h3 {
  font-size: 36px;
  font-family: "Poiret One";
  color: rgb(80, 132, 201);
  line-height: 1;
  text-align: left;
  -moz-transform: scale(1, 1.17);
  -webkit-transform: scale(1, 1.17);
  -ms-transform: scale(1, 1.17);
  position: absolute;
  left: 1130.795px;
  top: 394px;
  z-index: 800;
}

.email {
  font-size: 24px;
  font-family: "Poiret One";
  color: rgb(80, 132, 201);
  line-height: 1.5;
  text-align: left;
  -moz-transform: scale(1, 1.17);
  -webkit-transform: scale(1, 1.17);
  -ms-transform: scale(1, 1.17);
  position: absolute;

  left: 1182px;
  top: 566px;
  z-index: 24;
}

.phone {
  font-size: 24px;
  font-family: "Poiret One";
  color: rgb(80, 132, 201);
  line-height: 1.5;
  text-align: left;
  -moz-transform: scale(1, 1.17);
  -webkit-transform: scale(1, 1.17);
  -ms-transform: scale(1, 1.17);
  position: absolute;

  left: 1182px;
  top: 494px;
  z-index: 24;
}
